html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #F08080;
}

h1 {
    font-family: Arvo;
    color: white;
    text-align: center;
    font-size: 128px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
    opacity: 0.7;
}

form {
    padding: 50px;
}

input {
    width: 100%;
    transition: width 0.4s ease-in-out;
    padding: 12px 20px;
    border-radius: 100px;
}

input:focus {
    outline: none;
}