<DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset="utf-8">
		<title>Music Flyer</title>
		<link rel="stylesheet" href="../static/css/main.css">
    </head>

    <body>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>   <script src="../static/js/main.js"></script>
        <header>
            <h1>Music Flyer</h1>
        </header>

        <h2>We'll create a flyer based on your favorite artist</h2>

        <form method="post">
            <input type="text" name="artistName" placeholder="Enter an artist" />
            <input type="submit" />
        </form>
    </body>

</html>
</DOCTYPE>